a {
    text-decoration: none;
    color: #333333;
}

.contate-container {
    width: 90%;
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.contate-texto {
    text-align: justify;
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
}