.contate-button {
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 10%;
}

.editais-container {
    margin-top: 2.5%;
    display: block;
    width: 50%;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2.5%;
}

.editais-conteudo {
    padding-top: 2%;
    padding-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    border: black 1px solid;
    border-radius: 10px;
    font-weight: normal;
    background-repeat: no-repeat;
    background-position: center top;
    font-size: 1em;
}


/* .painel-heading {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-color: #ddd;
} */

.painel-body {
    /* border-top: 1px solid #ddd; */
    width: 100%;
}

.painel-title {
    font-size: larger;
    width: 100%;
}

h4.a {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

h4>a.collapsed:before {
    content: url(../upload/editalFechado.png);
    font-size: larger;
}

h4>a:before {
    font-size: larger;
    content: url(../upload/editalAberto.png);
}

.artigo_texto {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    margin-bottom: 2.5%;
}